@import "tailwindcss";

* {
    font-family: 'montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.neulis {
    font-family: 'neulis-neue', sans-serif;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

@theme {
    --color-loomilightpink: #F4AECC;
    --color-loomipink: #E72787;
    --color-loomibeige: #FFF7F0;
}

.slick-dots li button:before {
    font-size: 15px !important;
}

.slick-slider {
    position: relative;
}

.slick-dots {
    bottom: -40px !important;
}